{% extends "base.html" %}

{% block content %}
    <h1>
        <img src="{{ user.avatar(64) }}">
        Perfil de {{ user.username }}
    </h1>

    {% if user == current_user %}
        <a href="{{ url_for('edit_profile') }}">Editar meu perfil</a>
    {% endif %}

    <dl>
        {% if user.about_me %}
            <dt>Sobre mim</dt>
            <dd>
                {{ user.about_me }}
            </dd>
        {% endif %}

        {% if user.last_seen %}
            <dt>Última vez visto</dt>
            <dd>
                {{ user.last_seen }}
            </dd>
        {% endif %}
    </dl>

    {% if not current_user.is_following(user) %}
        <form action="{{ url_for('follow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Seguir') }}
        </form>
    {% else %}
        <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Parar de seguir') }}
        </form>     
    {% endif %}

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}